---
layout: default
---

<h3 class="fw-bold border-bottom pb-3 mb-5">Primary Investigator</h3>
{% for person in site.data.settings.people %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>
      <a href="{{ person.website }}" target="_blank" rel="noopener"> 
        {{ person.name }}</a>
    </h5>
    <p class="d-flex gap-3 align-items-center">
      <span class="text-muted">{{ person.institution }}</span>
      <a href="mailto:{{ person.email }}">{{ person.email }}</a>
    </p>
    <p>Bio: {{ person.bio }}</p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="headshotNA" style="width:50%; float:right">
  </div>
</div>
{% endfor %}

<h3 class="fw-bold border-bottom pb-3 mb-5">Postdoctoral Researcher</h3>
{% for postdoc in site.data.settings.postdoc %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>
      <a href="{{ postdoc.website }}" target="_blank" rel="noopener"> 
        {{ postdoc.name }}</a>
    </h5>
    <p class="d-flex gap-3 align-items-center">
      <span class="text-muted">{{ postdoc.institution }}</span>
      <a href="mailto:{{ postdoc.email }}">{{ postdoc.email }}</a>
    </p>
    <p>Bio: {{ postdoc.bio }}</p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ postdoc.image }}" alt="headshotNA" width="50%" float=right>
  </div>
</div>
{% endfor %}

<h3 class="fw-bold border-bottom pb-3 mb-5">PG & UG Student</h3>
{% for student in site.data.settings.student %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>
      <a href="{{ student.website }}" target="_blank" rel="noopener"> 
        {{ student.name }}</a>
    </h5>
    <p class="d-flex gap-3 align-items-center">
      <span class="text-muted">{{ student.institution }}</span>
      <a href="mailto:{{ student.email }}">{{ student.email }}</a>
    </p>
    <p>Bio: {{ student.bio }}</p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ student.image }}" alt="headshotNA" width="50%">
  </div>
</div>
{% endfor %}
